# 項目：預測特定族群是否罹患糖尿病

## 問題定義

1. 使用者需求：想要提早預警糖尿病的病患
2. 定義目標：依據世界衛生組織的糖尿病判別標準定義1與0
3. 蒐集資料
4. 訓練與測試模型
5. 預測與驗證

## 資料來源

- URL: https://github.com/jerrywu2013/Tensorflow_Data/raw/master/pima-indians-diabetes.csv

欄位說明：

1. Number_pregnant: 懷孕次數
2. Glucose_concentration: 葡萄糖濃度
3. Blood_pressure: 舒張壓
4. Triceps: 皮膚褶皺厚度
5. Insulin: 血清胰島素
6. BMI: 體重指數
7. Pedigree: 糖尿病家族函數
8. Age: 年齡
9. Class: 1: 糖尿病，0: 非糖尿病
10. Group: A, B, C

In [16]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [12]:
data = pd.read_csv('data.csv')
data.head()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class,Group
0,6,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,50,1,B
1,1,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,31,0,C
2,8,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,32,1,B
3,1,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,21,0,B
4,0,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,33,1,C

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Number_pregnant        768 non-null    int64
 1   Glucose_concentration  768 non-null    float64
 2   Blood_pressure         768 non-null    float64
 3   Triceps                768 non-null    float64
 4   Insulin                768 non-null    float64
 5   BMI                    768 non-null    float64
 6   Pedigree               768 non-null    float64
 7   Age                    768 non-null    int64
 8   Class                  768 non-null    int64
 9   Group                  768 non-null    object
dtypes: float64(6), int64(3), object(1)
memory usage: 60.1+ KB

In [15]:
data.describe()

,Number_pregnant,Glucose_concentration,Blood_pressure,Triceps,Insulin,BMI,Pedigree,Age,Class
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,0.607510,0.566438,0.207439,0.094326,0.476790,0.168179,33.240885,0.348958
std,3.369578,0.160666,0.158654,0.161134,0.136222,0.117499,0.141473,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000
25%,1.000000,0.497487,0.508197,0.000000,0.000000,0.406855,0.070773,24.000000,0.000000
50%,3.000000,0.587940,0.590164,0.232323,0.036052,0.476900,0.125747,29.000000,0.000000
75%,6.000000,0.704774,0.655738,0.323232,0.150414,0.545455,0.234095,41.000000,1.000000
max,17.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,81.000000,1.000000

In [17]:
Y = data['Class']
X = data.drop(['Class', 'Group'], axis=1)

In [18]:
cols_to_norm = ['Number_pregnant', 'Glucose_concentration', 'Blood_pressure', 'Triceps',
       'Insulin', 'BMI', 'Pedigree']